* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  animation: backgroundColorTransition 8s infinite;
  font-family: "Avenir", sans-serif;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.mobileOnly,
.tabletOnly {
  display: none;
}

@media only screen and (max-width: 767px) {
  #menu button {
    display: none;
  }

  .mobileOnly {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tabletOnly {
    display: block;
  }
}

#title {
  animation: primaryColorTransition 8s infinite;
  cursor: default;
  font-size: 5rem;
  user-select: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p,
button {
  font-size: 2.25rem;
}

#menu {
  animation: initialFadeIn 1s;
  display: flex;
  flex-direction: column;
}

#menu button:hover {
  text-decoration: underline;
}

#menu button,
#menu p {
  animation: secondaryColorTransition 8s infinite;
  align-self: flex-end;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#navigationTutorial,
#layersTutorial {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  max-width: 35%;
  padding: 1rem;
  top: 35%;
  transform: translate(-50%, -35%);
  user-select: none;
}

canvas {
  background-color: #3a606e;
  height: 100%;
  z-index: -1;
}

footer,
#timer {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}

#mute {
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

#winPopUp {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 3rem;
  text-align: center;
}

#winPopUp h1 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

@keyframes backgroundColorTransition {
  0% {
    background-color: #607b7d;
  }

  20% {
    background-color: #69a297;
  }

  40% {
    background-color: #364652;
  }

  60% {
    background-color: #8e8993;
  }

  80% {
    background-color: #818479;
  }

  100% {
    background-color: #607b7d;
  }
}

@keyframes primaryColorTransition {
  0% {
    color: #aaae8e;
  }

  20% {
    color: #a3c9a8;
  }

  40% {
    color: #ddc8c4;
  }

  60% {
    color: #e1e7e8;
  }

  80% {
    color: #cebebe;
  }

  100% {
    color: #aaae8e;
  }
}

@keyframes secondaryColorTransition {
  0% {
    color: #828e82;
  }

  20% {
    color: #84b59f;
  }

  40% {
    color: #896a67;
  }

  60% {
    color: #b9bcc0;
  }

  80% {
    color: #ad999b;
  }

  100% {
    color: #828e82;
  }
}
