* {
  padding: 0;
  margin: 0;
}

body {
  display: block;
  background: #232323;
  font-family: "Avenir", sans-serif;
}

button {
  border: none;
  background: none;
  color: black;
  outline: none;
}

button:hover {
  color: gray;
}

#menuToggle {
  position: relative;
  top: 4vw;
  left: 4vw;
}

#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
}


#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
}

#menu {
  position: absolute;
  width: 25vw;
  margin: -4vw 0 0 -4vw;
  padding: 50px;
  padding-top: 50px;
  background-color: white;
  list-style-type: none;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu button {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

canvas {
  display: none;
  background-color: #3A606E;
  width: 100vh;
  height: 100vh;
}

#timer {
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  position: absolute;
  color: #F0E7D8;
  font-size: 2rem;
  right: 15%;
  top: 8%;
}